@*
	Layout = null;
	@model IEnumerable<Booking_clothes.Models.Clothes>
*@
@{
    Layout = "HomeLayout";
@* @model IEnumerable<Booking_clothes.Models.Clothes>
 *@

}


@foreach (var cloth in Model)
{
    <div class="product-page">
        <div class="image-section">
            <button class="prev-btn">&#8249;</button>
            <img src="C:\Users\Coding School\Desktop\finalproject\new project\Booking clothes\Booking clothes\wwwroot\Home\ShopAssets\assets\dist\img\products-list\grid8.jpg" alt="Long Diva Dress" class="product-image">
            <button class="next-btn">&#8250;</button>
        </div>
        <div class="details-section">
            <h1>LONG DIVA DRESS</h1>
            <p class="brand">BRAND : <span class="brand-name">BLUE FLAMINGO</span></p>
            <p class="price"><span class="original-price">$$@(cloth.PricePerDay - (cloth.DiscountValue / 100) * cloth.PricePerDay) per day</span> <span class="discounted-price"> @cloth.DiscountValue% off % off</span> / <span class="final-price">$50</span></p>
            <p class="description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Ipsum is simply dummy text of the printing and typesetting industry.</p>
            <div class="date-picker">
                <label for="start-date">Start Date</label>
                <input type="date" id="start-date">
                <label for="end-date">End Date</label>
                <input type="date" id="end-date">
            </div>
            <div class="options">
                <select name="size" id="size">
                    <option value="" disabled selected>Size</option>
                    <option value="S">Small</option>
                    <option value="M">Medium</option>
                    <option value="L">Large</option>
                </select>
                <select name="color" id="color">
                    <option value="" disabled selected>Color</option>
                    <option value="purple">Purple</option>
                    <option value="black">Black</option>
                </select>
            </div>
            <button class="add-to-bag">Add to Shopping Bag</button>
            <div class="wishlist-favorites">
                <button class="remove-wishlist">Remove Wishlist</button>
                <button class="remove-favorite">Remove favorite</button>
            </div>
        </div>
    </div>
    <script src="~/Home/SingleProdctAssets/JavaScript.js"></script>

}